/* Custom CSS*/

.pull-right{
    float:right!important;
}

.mar10{
    margin: 10px;
}

ul.typeahead.dropdown-menu {
    width: 100%;
}


.circle {
    width: 144px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 130px;
    text-align: center;
    margin: auto;
    border: 5px solid #000;
  }


  .treatments-pad-right{
	padding-right: 1px;
    margin-right: -19px;
  }

.border-radius0{
	border-radius: 0px;
}

.mar-top20{
	margin-top: 20px;
}




.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input.default:checked + .slider {
	background-color: #444;
}
input.primary:checked + .slider {
	background-color: #2196F3;
}
input.success:checked + .slider {
	background-color: #8bc34a;
}
input.info:checked + .slider {
	background-color: #3de0f5;
}
input.warning:checked + .slider {
	background-color: #FFC107;
}
input.danger:checked + .slider {
	background-color: #f44336;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.list-group-item{
		border: 0px solid!important;
}

.toggle-btn-mar-top{
	margin-top: 17%;
}

.JobClose:before{
	border: 2px solid #ffffff;
}



.bg-highlight{
	background-color: rgba(0,0,0,.075);
}
